@page
@model StockMeIn.Pages.Customers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="text-center">
    <h2>Customer Info</h2>
</div>

<div>
    <div>
        <h4>Customer</h4>
        <a asp-page="./Edit" asp-route-id="@Model.Customer.ID">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.MiddleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Zip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Zip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.HomePhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.HomePhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.WorkPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.WorkPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CellPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CellPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CreateDAte)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CreateDAte)
        </dd>
    </dl>
</div>

<div class="text-center">
    <h2>Owned Vehicles / Vehicle History</h2>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle[0].VIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle[0].year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle[0].make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle[0].model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle[0].color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerVehicle[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerVehicle[0].EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CustVehInfo)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustVehData.CustStockID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleInfo.VIN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleInfo.year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleInfo.make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleInfo.model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleInfo.color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustVehData.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustVehData.EndDate)
                </td>
                @if (item.CustVehData.EndDate == DateTime.MinValue)
                {
                <td>
                    <form method="post">

                        <input type="hidden" name="CustID" asp-for="Customer.ID" />
                        <input type="hidden" name="CustVehicleID" asp-for="@item.CustVehData.ID" />
                        <input type="submit" value="End" class="btn btn-primary" />
                    </form>
                </td>
                }
            </tr>
        }
    </tbody>
</table>
