@page
@model StockMeIn.Pages.Vehicles.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="text-center">
    <h2>Sell/Assign Vehicle</h2>
</div>

<div>
    <div>
        <h4>Vehicle Information</h4>
        <a asp-page="./Edit" asp-route-id="@Model.Vehicle.ID">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.VIN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.VIN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.typeNU)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.typeNU)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.make)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.make)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.body)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.body)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.inventoryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.inventoryDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.salePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.salePrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.status)
        </dd>
    </dl>
</div>

<div class="text-center">
    <h2>Select Customer</h2>
</div>

<form>
    <p>
        Last Name: <input type="text" asp-for="SearchString" />
        <input type="hidden" name="id" value="@Model.Vehicle.ID" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].CellPhone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customer)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CellPhone)
                </td>
                <td>
                    <form method="post">

                        <input type="hidden" name="VehicleID" asp-for="Vehicle.ID" />
                        <input type="hidden" name="CustomerID" asp-for="@item.ID" />
                        <input type="submit" value="Assign" class="btn btn-primary" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
